#################################################
#     Name: Cesar Leon C.
#     E-mail: leoncesaralejandro@gmail.com
#     Type: Shell Script
#     Date: August, the 8th/ 2021
#     Description: INSTALL VARIETY OF PROGRAMS
#################################################

#################################################
## 1. Compositor
#################################################
picom -f &


#################################################
## 2. Wallpaper
#################################################
nitrogen --restore &
