#################################################
#     Name: Cesar Leon C.
#     E-mail: leoncesaralejandro@gmail.com
#     Type: Dot File
#     Date: August, the 8th/ 2021
#     Description: PROGRAMS LAUNCHED ON .xinitrc
#################################################

#################################################
## 1. Compositor
#################################################
picom -f &

#################################################
## 2. Wallpaper
#################################################
nitrogen --restore &
